// Button state styles used across components

%button-state {
  background: $secondary-default;
  color: $black;

  &:focus-visible {
    outline: 2px solid $white;
  }

  &:hover {
    color: $white;
    background: $secondary-dark;
    cursor: pointer;
  }

  &:active {
    color: $white;
    background: $secondary-darker;
  }

  &:disabled {
    background: $primary-light;
    cursor: default;
  }

  &[aria-disabled='true'] {
    pointer-events: none;
    background: $primary-light;
    cursor: default;
  }
}
