$preset-bar-width: 328px;
$sidebar-width: 155px;
$title-bar-height: 28px;

$band-width: 64px;

$equalizer-height: 574px;

// NumberInput
$input-height: 24px;

// FrequencyBand and AddSliderDivider
$sort-animate-duration: 500ms;
