@import 'color';
@import 'constant';
@import 'spacing';

body {
  position: relative;
  color: white;
  background: $primary-dark;
  font-family: sans-serif;
  font-size: 1em;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;

  #root {
    // Spacing and height
    padding: $spacing-m;
    padding-top: $spacing-s;
    height: calc(100vh - $title-bar-height - $spacing-m - $spacing-s);
    width: calc(100vw - 2 * $spacing-m);

    // Add grid for layout
    display: grid;
    grid-template-areas:
      'side-bar middle-content presets-bar'
      'graph-wrapper graph-wrapper graph-wrapper';
    grid-template-columns: minmax($sidebar-width, max-content) 1fr $preset-bar-width;
    // Keep fixed height for equalizer when graph view is on
    grid-template-rows: $equalizer-height 1fr;
    gap: $spacing-s;

    &.minimized {
      // Forcibly allow equalizer content to grow when graph view is off
      grid-template-rows: 1fr;
      row-gap: 0px;
    }
  }
}

.middle-content {
  grid-area: middle-content;
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: $spacing-s;
}

.title-bar {
  background-color: $primary-dark;
  height: $title-bar-height;
  width: 100%;
  -webkit-app-region: drag; /* Allow user to drag the window using this titlebar */
  -webkit-user-select: none; /* Prevent user from selecting things */
  user-select: none;

  span {
    height: 100%;
    display: flex;
    margin-left: $spacing-m;
    justify-content: end;
    flex-direction: column;
  }
}

.graph-wrapper {
  grid-area: graph-wrapper;
  border-radius: $spacing-m;
  border: $spacing-xxs solid $secondary-default;

  // Prevent graph from overflowing out of the wrapper's available space
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.full {
  height: 100%;
  width: 100%;
}

.center {
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/** Scrollbar styles */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

// Scrollbar track
::-webkit-scrollbar-track {
  border-radius: 8px;
  background: $primary-lighter;
}

// Scrollbar handle
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: $primary-light;

  &:hover {
    background: $primary-default;
  }
}
