@import 'color';
@import 'spacing';
@import 'button-state';

%arrow {
  display: flex;

  &:hover {
    color: $white;
    cursor: pointer;

    path {
      fill: $secondary-dark;
    }
  }

  &:active {
    path {
      fill: $secondary-dark;
      filter: brightness(
        0.8
      ); // alternative for achieving the $secondary-darker color
    }
  }

  &[aria-disabled='true'] {
    cursor: default;

    path {
      fill: $primary-light;
    }

    &:active {
      path {
        // ensure that the brightness doesn't change when pressed
        filter: brightness(1);
      }
    }
  }

  &:focus-visible {
    outline: none;

    path {
      stroke: white;
      stroke-width: $spacing-xxs;
    }
  }
}

.arrow-up {
  @extend %arrow;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.arrow-down {
  @extend %arrow;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}
