@import 'color';
@import 'spacing';

$auto-eq-dropdown-width: 220px;

.auto-eq {
  display: grid;
  grid-template-columns: max-content 1fr max-content 1fr max-content;
  height: min-content;

  padding: $spacing-s $spacing-m;
  border-radius: $spacing-m;
  background: $primary-default;

  align-items: center;
  gap: $spacing-s;

  .dropdown {
    [role='menu'] {
      width: $auto-eq-dropdown-width;
    }

    .list {
      // Assign fixed width to dropdown menu
      width: $auto-eq-dropdown-width + $spacing-s;
      max-height: 150px;
    }
  }
}
