@import 'color';
@import 'spacing';
@import 'button-state';

$button-width: 24px;
$button-height: 100px;

.button {
  border-radius: 4px;
  background-color: $secondary-default;
  margin: $spacing-xs;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @extend %button-state;

  &.small {
    padding: $spacing-xs $spacing-s;
    height: fit-content;
  }

  path {
    fill: $white;
  }
}
