@import 'color';
@import 'spacing';

.dropdown {
  // Necessary so that the absolutely positioned children will scroll with the parent
  position: relative;

  [role='menu'] {
    cursor: pointer;
    background: $primary-dark;
    color: $white;
    border: solid $spacing-xxs $secondary-default;
    border-radius: 4px;
    padding: $spacing-xs;
    font-size: small;
    width: 52px;
    height: 18px;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    &:focus-visible {
      outline: $spacing-xxs solid $white;
    }

    &[aria-disabled='true'] {
      border: $spacing-xxs solid $primary-lighter;
      color: $primary-lighter;
      cursor: default;

      svg {
        path {
          stroke: $primary-lighter;
        }

        &.arrow {
          path {
            fill: $primary-lighter;
          }
        }
      }
    }

    svg {
      width: 36px;
      height: auto;

      &.arrow {
        width: 12px;
        height: auto;
        margin-left: 4px;
        path {
          fill: $white;
        }
      }
    }
  }

  .list {
    // Position the drop down menu
    position: absolute;
    margin-block-start: -4px;

    // Assign fixed width to dropdown menu
    width: 60px;
    z-index: 1;

    svg {
      width: 36px;
      height: auto;
    }
  }
}
