@import 'color';
@import 'constant';
@import 'spacing';

.bandWrapper {
  &:hover {
    .removeFilter {
      opacity: 1;
    }
  }

  .band {
    // width: $band-width;
    gap: $spacing-s;
    .numberInput,
    .dropdown {
      align-self: center;

      .list {
        // Hide scroll bar for the filter type dropdown
        overflow-y: hidden;
      }
    }

    &::before,
    &::after {
      // Insert space above and below band so scrollbar has padding
      content: ' ';
    }
  }

  .removeFilter {
    position: absolute;
    cursor: pointer;
    margin-left: calc($band-width - 5px);
    opacity: 0;
    z-index: 1;

    &:focus-visible:not([aria-disabled='true']),
    &:hover:not([aria-disabled='true']) {
      & + .band {
        filter: blur(1px);
      }

      path {
        fill: $primary-lighter;
      }
    }

    &:focus-visible:not([aria-disabled='true']) {
      opacity: 1;
      outline: none;
    }

    &[aria-disabled='true'] {
      cursor: default;
      opacity: 0;
    }
  }
}
