@import 'color';
@import 'constant';
@import 'spacing';

// band width and height from constants file

.mainContent {
  width: $content-width;
  display: grid;
  grid-template-columns: 128px 1fr;
  grid-template-rows: 100%;
  gap: $spacing-s;
  // Add additional space to the right to balance the spacing better
  padding: $spacing-s $spacing-l $spacing-s $spacing-s;
  justify-items: center;

  border-radius: $spacing-m;
  border: 2px solid $secondary-default;

  .bandLabel {
    height: $band-height;
    justify-content: flex-start;
    gap: $spacing-s;

    div {
      justify-content: space-around;
      height: 100%;
    }

    .rowLabel {
      margin: $spacing-s 0;
    }

    &::before,
    &::after {
      // Insert space above and below band so scrollbar has padding
      content: ' ';
    }
  }

  .bands {
    position: relative;
    justify-content: space-between;
    padding: 0 2px; // add some horizontal padding so the outline isn't cut off at either end
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
