@import './constant';
@import './spacing';

$band-height: 300px;
$band-width: 64px;

.mainContent {
  height: 100%;
  width: $content-width;
  justify-content: space-evenly;

  .bandLabel {
    height: $band-height;
    justify-content: space-between;

    div {
      justify-content: space-around;
      height: 100%;
    }

    .rowLabel {
      margin: $spacing-s 0;
    }
  }

  .band {
    height: $band-height;
    width: $band-width;
    gap: $spacing-s;
  }

  .sliderButtons {
    height: $band-height;
    justify-content: center;
    div {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
