@import 'color';
@import 'constant';
@import 'spacing';

// band width and height from constants file

.main-content {
  grid-area: main-content;
  display: grid;
  grid-template-columns: 128px 1fr;
  gap: $spacing-s;

  // Add additional space to the right to balance the spacing better
  padding: $spacing-s $spacing-l $spacing-s $spacing-s;
  justify-items: center;

  border-radius: $spacing-m;
  border: $spacing-xxs solid $secondary-default;

  .band-label {
    height: 100%;
    display: grid;

    grid-template-rows:
      0px // top padding
      30px // filter type
      36px // frequency
      24px // top arrow
      min-content 1fr min-content 1fr min-content
      24px // bottom arrow
      36px // gain
      36px // quality
      0px; // bottom padding
    gap: 8px;
  }

  .bands {
    position: relative;
    justify-content: flex-start;
    padding: $spacing-xs $spacing-xxs; // add some horizontal padding so the outline isn't cut off at either end
    // Add vertical padding so that having absolute positioning of the sliders does not result in the main content
    // div cutting off the trash can icon
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
