@import 'constant';
@import 'color';
@import 'spacing';

.presetsBar {
  min-width: $presetbar-width;
  padding: $spacing-m;
  border-radius: $spacing-m;
  background: $primary-default;

  h4 {
    margin: 1em 0 1em 0;
  }

  button {
    width: calc(100% - $spacing-s - $spacing-xs);
  }

  .presetListItem {
    width: 100%;
    height: $spacing-l;
    padding: $spacing-xxs $spacing-xs;
    justify-content: space-between;
    align-items: center;

    input[type='text'] {
      width: 100%;
    }

    .icons {
      gap: $spacing-s;

      .iconButton {
        outline: none;

        &:focus-visible:not([aria-disabled='true']) {
          path {
            fill: $primary-lighter;
          }
        }
      }
    }
  }
}
