@import 'color';
@import 'spacing';
@import 'button-state';

$range-track-width: 150px;
$range-track-height: 8px;
$range-thumb-height: 20px;

.range {
  gap: 4px;
  width: 48px;

  input[type='range'] {
    -webkit-appearance: none;
    height: $range-track-height;
    background: transparent;
    transform: rotate(-90deg);
    margin: calc($range-track-width / 2) 0px;

    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--val) - var(--min)) / var(--range));
    --sx: calc(
      0.5 *#{$range-thumb-height} + var(--ratio) *
        (100% - #{$range-thumb-height})
    );

    &:focus-visible {
      outline: none;

      &::-webkit-slider-runnable-track {
        box-shadow: 0px 0px 0px $spacing-xxs white;
      }
    }

    &::-webkit-slider-runnable-track {
      cursor: pointer;
      height: $range-track-height;
      width: 100%;
      border-radius: 4px;
      background: linear-gradient($secondary-dark, $secondary-dark) 0 /
        var(--sx) 100% no-repeat $secondary-light;

      &:disabled {
        background: linear-gradient($primary-light, $primary-light) 0 /
          var(--sx) 100% no-repeat primary-lighter;
      }
    }

    &:disabled::-webkit-slider-runnable-track {
      background: linear-gradient($primary-light, $primary-light) 0 / var(--sx)
        100% no-repeat $primary-lighter;
      cursor: default;
    }

    &::-webkit-slider-thumb {
      @extend %button-state;
      -webkit-appearance: none;
      cursor: pointer;
      height: $range-thumb-height;
      width: $range-thumb-height;
      border-radius: calc($range-thumb-height / 2);
      margin-top: calc(-1 * ($range-thumb-height) / 4 - 1px);
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);
    }
  }

  label {
    width: 100%;
  }
}
