@import 'constant';
@import 'color';
@import 'spacing';

.sideBar {
  width: calc(100% - $content-width);
  gap: $spacing-m;
  padding: $spacing-s;

  border-radius: 16px;
  background: $primary-default;
}
