@import 'constant';
@import 'color';
@import 'spacing';

.sideBar {
  height: 100%;
  width: calc(100% - $content-width);
  gap: $spacing-m;
  padding: $spacing-s;
  border-right: 2px solid $white;
}
