@import 'constant';
@import 'color';
@import 'spacing';

.sideBar {
  min-width: $sidebar-width;
  padding: $spacing-s;

  border-radius: $spacing-m;
  background: $primary-default;

  .switch[for='graphViewEnabler'] {
    margin-bottom: 1em;
  }

  h4 {
    margin: 1em 0 1em 0;
  }
}
