@import 'color';
@import 'spacing';
.textInput {
  background: $primary-dark;
  color: $white;
  border: solid 2px $secondary-default;
  border-radius: 4px;
  padding: $spacing-xs;
  font-size: small;
  // width: 52px;
  // height: 18px;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  &:focus-visible {
    outline: 2px solid $white;
  }
}
