/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

.slider {
  gap: 4px;
}

.slider input[type='range'] {
  -webkit-appearance: slider-vertical;
  width: 10px;
}

.slider-top {
  width: 30px;
  height: 20px;
  background-color: white;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.slider-top:hover,
.slider-top:focus {
  background-color: #ade8f4;
}

.slider-bottom {
  width: 30px;
  height: 20px;
  background-color: white;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.slider-bottom:hover,
.slider-bottom:focus {
  background-color: #ade8f4;
}

.slider label {
  width: 100%;
}
