/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

.slider-content-bar {
  background-color: #ade8f4;
  width: 20px;
  height: 60px;
}

.slider-content-bar:hover {
  transform: scale(1.05);
  opacity: 1;
}
